DB_USER=reak
DB_PASSWORD=reak
DB_NAME=reakgo
SESSION_KEY=reakgo
SESSION_NAME=reakgo
WEB_PORT=4000
# values can be microservice or monolith
APP_IS=
CSRF_SECRET_KEY=
APPURL=http://localhost:5173/auth/signin
# development or production
CI_ENVIRONMENT=
PATH_OF_LOG_API=
APPNAME=
EMAIL_FOR_CRITICAL_ERROR