DB_USER=reak
DB_PASSWORD=reak
DB_NAME=reakgo
SESSION_KEY=reakgo
SESSION_NAME=reakgo
WEB_PORT=4000
# values can be microservice or monolith
APP_IS=
CSRF_SECRET_KEY=
APPURL=http://localhost:5173/auth/signin
# development or production
CI_ENVIRONMENT=
PATH_OF_LOG_API=
APPNAME=
DEFAULT_AVATAR=/home/user/public_Html/receptionmonk/assets/img/user.png
PATH_OF_LOG_API=/home/user/
APPURL=http://localhost:5173/auth/signin
FROM_EMAIL=support@reak.in
# for app emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
FROM_APIKEY=
EMAILSECRATE=
# development or production
# CRITICAL ERROR MAIl
# mail will be sent to the given email for crictical logs
EMAIL_FOR_CRITICAL_ERROR=
RETRIES_BEFORE_CRITICAL_EMAIL=10
EMAILSECRATE_CRITICAL=
SMTP_HOST_CRITICAL=smtp.sendgrid.net
SMTP_PORT_CRITICAL=587
FROM_APIKEY_CRITICAL=apikey