// ################
// Variables
// ################

// @use 'sass:math';

// Define Gray Colors
$white: #fff !default;
$gray-100: #F6F9FC !default;
$gray-200: #EBF1F6 !default;
$gray-300: #DFE5EF !default;
$gray-400: #ced4da !default;
$gray-500: #7C8FAC !default;
$gray-600: #6c757d !default;
$gray-700: #3B3A3A !default;
$gray-800: #343a40 !default;
$gray-900: #212529  !default;
$black: #000 !default;


// Define Main Colors
$blue:    #0161CD !default;
$indigo:  #6720df !default;
$purple:  #6f42c1 !default;
$pink:    #D973BD !default;
$red:     #dc3545 !default;
$orange:  #C8400D !default;
$yellow:  #FD8F01 !default;
$green:   #04DC8B !default;
$teal:    #00a5bb !default;
$cyan:    #0dcaf0 !default;

// Bootstrap Main Colors
$primary: $orange !default;
$secondary: $gray-700 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$muted: $gray-500 !default;
$dark: $gray-600 !default;
$dark-light: $gray-600 !default;
$light-gray: $gray-100 !default;


// Bootstrap Light Main Colors
$light-primary: #558ccc; 
$light-secondary: #7a7979;
$light-info: #8bb5b9;
$light-success: #6fcfac;
$light-warning: #fad19b;
$light-danger: #fac9c9;
$light-indigo: #c6dcfc;


// Theme Colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "indigo": $indigo,
    "light-primary": $light-primary,
    "light-secondary": $light-secondary,
    "light-info": $light-info,
    "light-success": $light-success,
    "light-warning": $light-warning,
    "light-danger": $light-danger,
    "light-indigo": $light-indigo,
    "dark-light": $dark-light,
    "light-gray": $light-gray,
    ) !default;


// Color Opacity
$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

$indigo-100: tint-color($indigo, 80%) !default;
$indigo-200: tint-color($indigo, 60%) !default;
$indigo-300: tint-color($indigo, 40%) !default;
$indigo-400: tint-color($indigo, 20%) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 20%) !default;
$indigo-700: shade-color($indigo, 40%) !default;
$indigo-800: shade-color($indigo, 60%) !default;
$indigo-900: shade-color($indigo, 80%) !default;

$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;

$pink-100: tint-color($pink, 80%) !default;
$pink-200: tint-color($pink, 60%) !default;
$pink-300: tint-color($pink, 40%) !default;
$pink-400: tint-color($pink, 20%) !default;
$pink-500: $pink !default;
$pink-600: shade-color($pink, 20%) !default;
$pink-700: shade-color($pink, 40%) !default;
$pink-800: shade-color($pink, 60%) !default;
$pink-900: shade-color($pink, 80%) !default;

$red-100: tint-color($red, 80%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 80%) !default;

$orange-100: tint-color($orange, 80%) !default;
$orange-200: tint-color($orange, 60%) !default;
$orange-300: tint-color($orange, 40%) !default;
$orange-400: tint-color($orange, 20%) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 20%) !default;
$orange-700: shade-color($orange, 40%) !default;
$orange-800: shade-color($orange, 60%) !default;
$orange-900: shade-color($orange, 80%) !default;

$yellow-100: tint-color($yellow, 80%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 80%) !default;

$green-100: tint-color($green, 80%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;

$teal-100: tint-color($teal, 80%) !default;
$teal-200: tint-color($teal, 60%) !default;
$teal-300: tint-color($teal, 40%) !default;
$teal-400: tint-color($teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: shade-color($teal, 20%) !default;
$teal-700: shade-color($teal, 40%) !default;
$teal-800: shade-color($teal, 60%) !default;
$teal-900: shade-color($teal, 80%) !default;

$cyan-100: tint-color($cyan, 80%) !default;
$cyan-200: tint-color($cyan, 60%) !default;
$cyan-300: tint-color($cyan, 40%) !default;
$cyan-400: tint-color($cyan, 20%) !default;
$cyan-500: $cyan !default;
$cyan-600: shade-color($cyan, 20%) !default;
$cyan-700: shade-color($cyan, 40%) !default;
$cyan-800: shade-color($cyan, 60%) !default;
$cyan-900: shade-color($cyan, 80%) !default;


// Spacer
// $spacer: 1rem !default;
// $spacers: (
//   0: 0,
//   1: abs(#{math.div($spacer, 4)}),
//   2: abs(#{math.div($spacer, 2)}),
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
// ) !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Grid breakpoints
$grid-breakpoints: (

  xs: 0,          // Extra Small devices (portrait phones)  
  sm: 576px,      // Small devices (landscape phones)
  md: 768px,      // Medium devices (tablets)
  lg: 992px,      // Large devices (desktops)
  xl: 1200px,     // Large devices (laptops)
  xxl: 1400px     // Extra Large devices (large desktops)
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Grid columns
$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

// $gutters: $spacers !default;

// Body Bg-color
$body-bg: $white !default;
$body-color: $gray-700 !default;
$bg-none: transparent;

// Typography

$font-family-sans-serif:    system-ui, -apple-system, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-base:          "Open Sans" !default;

$font-size-root:              null !default;
$font-size-base:              1rem !default; 
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-xl:                $font-size-base * 1.50 !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  8: 30px,
  ) !default;
$font-size-base: 0.875rem !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.2rem
);

$display-font-weight: 500;

// Font Color
$font-heading-color: #0C2533;


// Letter Spacing
$letter-space-sm: 1px !default;
$letter-space-lg: 2px !default;
$letter-space-xl: 3px !default;

// Line Height
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Border , Border Width and Border Radius
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            .7rem !default;

$rounded-pill:                50rem !default;

// Box Shadow
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$caret-width:                 .3em !default;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

// #############
// Components
// #############

// Card
$card-spacer-y: 1rem !default;
$card-spacer-x: 1rem !default;
$card-border-width: 0px !default;
$card-border-color: $gray-200 !default;
$card-border-radius: 10px;

// Aspect-ratio
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

// Custom Text Color
$text-primary-color: $primary;

// Bg-circle

$bg-circle-color: #FF6057;
$bg-price-light-color: #F6B299;
$bg-price-dark-color: #D56D46;