// ###################
// Layout CSS
// ###################

@import "../variables/variables";
@import "../mixins/buttons";
@import "../mixins/breakpoints";

body {
    margin: 0;
    font-family: sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-transform: capitalize;
    text-decoration: none !important; 
    &:hover {
        margin-left: 0.2rem;
        transition: margin-left 0.5s ease-in;
    }
}

.bg-anim-one {
    background: $primary url('../../assets/images/bg_content_one.svg') top right no-repeat;
}

.bg-anim-two {
    background: $white url('../../assets/images/bg_content_two.svg') no-repeat;
}

#hero {
    .hero-text {
        p {
            font-size: $font-size-lg;
        }
    }
    .btn-primary {
        @include btn-primary;
        padding: 0.5rem 4rem;
    }
    .anim {
        width: 100%;
        max-height: 600px;
        border: 1px solid $gray-500;
    }
    .sponcership {
        padding: 5% 0 11%;

        div {
            min-height: 150px;
        }
    }
    
}

#contentfirst {
    padding: 5% 0;

    .content-top-title {
        color: $white;

        h2::before {
            content: "";
            display: block;
            width: 10%;
            height: 5px;
            background-color: $white; 
            margin-bottom: 1rem; 
            border-radius: 10px;
          }      
    }      

    .content-bottom-title {
        h6 {
            font-weight: bolder;
            color: $font-heading-color;
            padding: 1rem 0;
        }       

        a {
            color: $font-heading-color;
        }
    }

    .services {
        padding: 5% 0;

        .serviceanim {
            padding: 2rem;
        }
    }
} 

#contentSecond {
    padding: 5% 0;

    p {
        color: $gray-500;
    }

    .contentTwo-top-title {
        color: $gray-700;

        .btn {
            @include btn-primary;
        }
    }


    .circle {
        position: relative;

        span {
            background-color: $bg-circle-color;
            border-radius: 50%;
            color: $white;
            padding: 1rem 1.5rem;
            font-size: larger;
            font-weight: bold;
        }

        &::after {
            content: "";
            position: absolute;
            width: 5%;
            height: 100%;
            top:75px;
            left: 50%;
            background-color: $gray-400;
            border-radius: 10px;
            transform: translateX(-50%);
          }   
        
    }
}
