// breakpoint_mixin
// @mixin min-breakpoint-3xl {
//     @media (min-width: 3000px) {
//         .container {
//             max-width: 70% !important;
//         }//        
//     }
// }
@mixin min-breakpoint-xxl {
    @media (min-width: 1600px) {
        .container {
            max-width: 1660px;
        }       
    }   
}
@mixin min-max-breakpoint-exl {
    @media (min-width: 1400px) and (max-width: 1599.99px) {     
        #hero {
            padding-top: 15%;
        }  
        // .hero-content {
        //     padding-top: 2%;
        // }        
        .sponcership {
            padding: 5% 0 18.5%;
        }
        #contentfirst {
            padding: 8% 0 5%;
        }
    }    
}
@mixin min-max-breakpoint-xl {
    @media (min-width: 1200px) and (max-width: 1399.99px) {
        #hero {
            padding-top: 15%;
        } 
        // .hero-content {
        //     padding-top: 1%;
        // }   
        .sponcership {
            padding: 8% 0 18%;
        }
        .hero-text {   
            .display-3 {
                font-size: 3.5rem;
            }         
            p {
                font-size: $font-size-base;
            }
        }        
    }    
}
@mixin min-max-breakpoint-lg {
    @media (min-width: 992px) and (max-width: 1199.99px) {
        .nav-item a{
            font-size: $font-size-base;
            margin: 0 1rem;
        }
        .btn-primary {
            padding: 0.5rem 2rem !important;
        }
        #hero {
            padding-top: 15%;
            // padding-bottom: 10%;
        }   
        .sponcership {
            padding: 0 0 18.2%;
        }
        .hero-text {   
            .display-3 {
                font-size: 3rem;
            }         
            p {
                font-size: medium;
            }
        } 
        #contentSecond {
            .display-6 {
                font-size: 2rem;
            }
        }
        #pricetable {
            .list-group {
                .list-group-item {
                    padding: 0;
                    &.active > span {
                        padding: 2px !important;
    
                        & > i {
                            font-size: small !important;
                        }
                    }
                    &.deactive {
                        span {
                            padding: 2px !important;
                            & > i {
                                font-size: small !important;
                            }
                        } 
                    }
                }
            }    
            h4 {
                margin: 1.5rem !important;
            }
        }
    }    
}

@mixin max-breakpoint-md {
    @media (max-width: 991.98px) {
        .bg-xs {
            background: $white url('../images/ipad_bg.svg') no-repeat;
            background-position: top right;
        }
        .bg-anim-one {
            background: none !important; 
        }
        .bg-anim-two {
            background: none !important; 
        }     
        .navbar-collapse.show {
            background-color: transparent; 
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
            border-radius: $border-radius-lg;
        }
        .navbar.scrolled .navbar-collapse.show {
            box-shadow: none;
            border-radius: 0;
        }
        #hero{
            padding-top: 17%;
            // padding-bottom: 4%;
        }  
       .btn-primary {
            padding: 0.5rem 2rem !important;
        }
        .sponcership {
            padding: 5% 0 8%;
        }
        .hero-text {   
            .display-3 {
                font-size: 2rem;
            }         
            p {
                font-size: $font-size-base;
            }
        }   
        #contentfirst {
            padding: 10% 0 5% !important; 
            p {
                color: $gray-100;
            }
        }  
        #contentSecond {
            p {
                font-size: smaller;
            }
            .display-6 {
                font-size: 1.5rem !important;
            }
        }
        #pricetable {
            .list-group {
                .list-group-item {
                    padding: 0;
                    line-height: 2.5 !important;
                    font-size: small !important;

                    &.active > span {
                        padding: 1px !important;
    
                        & > i {
                            font-size: small !important;
                        }
                    }
                    &.deactive {
                        span {
                            padding: 1px !important;
                            & > i {
                                font-size: small !important;
                            }
                        } 
                    }
                }
            }    
            h4 {
                margin: 2rem 0.5rem !important;
            }
        }
    }
}

@mixin max-breakpoint-sm {
    @media (max-width: 575.98px) { 
        .bg-xs {
            background: $white url('../images/combined_mobile_bg.svg') no-repeat;
            background-position: top right;
        }
        .bg-anim-one {
            background: none !important; 
        }
        .bg-anim-two {
            background: none !important; 
        }
        #hero {
            padding-top: 130px;
            // padding-bottom: 10%;
            .anim {
                margin-top: 2.5rem;
            }
        } 
        #contentfirst {        
            .content-top-title {
                h2 {
                    color: $primary;
                    &::before {
                        width: 15%;
                        background-color: $primary;
                    }
                }
            }
            .content-bottom-title {
                p {
                    color: $gray-700;
                }
            }
        }
        #contentSecond {
            p {
                font-size: medium !important; 
            }
            .display-6 {
                font-size: 1.6rem !important;
            }
        }
        #pricetable {
            .list-group {
                .list-group-item {
                    padding: 1rem !important;
                    line-height: 1 !important;
                    font-size: medium !important;     
                }
            }   
            .col {         
                padding: 1.5rem;
                .card {
                    color: $gray-700;
                }
            } 
        }
        #footer {
            padding: 10% 0 5%;
        }
    }
}